<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Sistema de Usuários</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<h2>Login</h2>

<input type="text" id="login_nome" placeholder="Usuário">
<input type="password" id="login_senha" placeholder="Senha">
<button onclick="login()">Entrar</button>

<p id="status"></p>

<p id="msg"></p>

    <h1>Cadastro de Usuários</h1>

    <input type="text" id="nome" placeholder="Digite o nome">
    <input type="password" id="senha" placeholder="Digite a senha">
    <button onclick="criarUsuario()">Criar</button>

    <h2>Usuários cadastrados</h2>
    <button onclick="listarUsuarios()">Listar</button>

    <ul id="lista"></ul>

<script>

function login() {
    fetch("/login", {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({
            nome: document.getElementById("login_nome").value,
            senha: document.getElementById("login_senha").value
        })
    })
    .then(res => res.json())
    .then(data => {
        document.getElementById("status").innerText = data.mensagem;
    });
}

function criarUsuario() {
    const nome = document.getElementById("nome").value;
    const senha = document.getElementById("senha").value;

    fetch("/criar", {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({ nome, senha })
    })
    .then(res => res.json())
    .then(() => listarUsuarios());
}

function listarUsuarios() {
fetch("/listar")
.then(res => {
    if (res.status === 401) {
        alert("Faça login primeiro");
        return [];
    }
    return res.json();
})
        .then(dados => {
            const lista = document.getElementById("lista");
            lista.innerHTML = "";

            dados.forEach(item => {
                const li = document.createElement("li");
                li.textContent = item[1];

                const btn = document.createElement("button");
                btn.textContent = "Excluir";
                btn.onclick = () => deletarUsuario(item[0]);

                li.appendChild(btn);
                lista.appendChild(li);
            });
        });
}

function deletarUsuario(id) {
    fetch(`/deletar/${id}`, { method: "DELETE" })
        .then(() => listarUsuarios());
}
</script>
</body>
</html>
